# Xcode
*.pbxuser
*.xccheckout
*.xcuserstate
project.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcscmblueprint

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
*.appcode*
.idea/
*.generated.*
*.swp
*.swo

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

